{% extends 'server/master.html' %}
{% load staticfiles %}

{% block title %}
	Каталог продуктов
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block content %}
    <h1 class="page__title">
       	Каталог
    </h1>
    <div class="products">
    	{% for object in products %}
            {% include 'includes/product_item.html' with image=object.image name=object.name description=object.description cost=object.cost id=object.id %}
		{% endfor %}
    </div>
    {% include 'server/includes/paginator.html' with page=products page_range=products.paginator.page_range %}
{% endblock %}
