{% extends 'server/master.html' %}
{% load staticfiles %}

{% block title %}
	Каталог продуктов
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block content %}
    <h1 class="page__title">
       	Каталог
    </h1>
    <div class="products">
    	{% for object in object_list %}
		<div class="products__item">
			<span class="products__item-name">
				{{ object.name|title }}
			</span>	
			<span class="products__item-description">
				{{ object.description }}
			</span>
			<span class="products__item-cost">
				{{ object.cost }}
			</span>
			<a href="{% url 'detail' pk=object.id %}" class="products__item-link">Ссылка на {{ object.name|lower }}</a>
		</div>
		{% endfor %}
    </div>
{% endblock %}
