{% extends 'server/master.html' %}
{% load staticfiles %}

{% block title %}
	Каталог продуктов
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block content %}
    <h1 class="page__title">
       	Каталог
    </h1>
    <div class="products">
    	{% for object in object_list %}
            {% include 'includes/product_item.html' with image=object.image name=object.name description=object.description cost=object.cost id=object.id %}
		{% endfor %}
    </div>


    {% if page_obj.has_next %}
    <button class="show-more-button">Show more</button>
    {% endif %}

{% endblock %}

{% block page_js %}
<script src="{% static 'products/js/products.js' %}"></script>
<script>

    const products = document.querySelector('.products');
    const showMoreButton = document.querySelector('.show-more-button');

    let productsUrl = '{% url "rest_products:list" %}?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}'

    const showMore = () => {
        fetch(productsUrl)
            .then(response => response.json())
            .then(
                data => {
                    data.results.map(
                        itm => products.innerHTML += renderProduct(itm)
                    )
                    if (data.next_url) {
                        productsUrl = data.next_url
                    } else {
                        showMoreButton.classList.add('show-more-button_hidden')
                    }
                }
            )
    }

    showMoreButton.addEventListener('click', showMore);

</script>
{% endblock %}